* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFFD;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #333;
}

h1, h2, h3 {
    margin: 0px 0px 10px 0px;
    font-family: 'Lobster', Georgia, Times, serif;
    color: #4C4C4C;
}

h1 {
    font-size: 50px;
    line-height: 55px;
    border-bottom: 5px double #000;
}

p {
    margin: 10px;
}

ul {
    margin: 0px 0px 0px 20px;
}

#body {
    width: 850px;
}

.col {
    width: 400px;
    float: left;
    display: inline-block;
    margin: 0 auto;
}
