* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFFD;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #333;
}

h1, h2, h3 {
    margin: 10px 0px;
    font-family: 'Lobster', Georgia, Times, serif;
    color: #30B0D8;
    letter-spacing: 2px;
    clear: left;
}

h1 {
    text-align: center;
    font-size: 50px;
    line-height: 55px;
    border-bottom: 5px double #99A;
    color: #4C4C4C;
}

h2 {
}

h3 {
    text-indent: 10px;
}

p {
    margin: 10px;
}

ul {
    margin: 0px 0px 10px 0px;
    list-style: square;
    width: 30em;
    overflow: auto;
}

li {
    margin-left: 20px;
    float: left;
    width: 10em;
}

table {
    border-collapse:collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
}

th {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    background: #99A;
    color: #FFFFFD;
    padding: 5px;
    letter-spacing: 2px;
}

td {
    padding: 3px;
}

#content {
    width: 850px;
    margin: auto;
}

.col {
    width: 400px;
    float: left;
    display: inline-block;
    margin: 0 auto;
}

.language {
    font-weight: bold;
}
